
$main-bg:#f8f9fa;
$bold:bold;
$text-color:black;
$card-width:300px;
$card-height:350px;
$color:gold;
$widthheight-mode:30px;
$light-bg:#f8f9fa;
$text-light:black;
$dark-bg:#282828;
$text-dark:#f8f9fa;
$card-bg:#444;
$navbar-bg:#3b3b37;